.banner {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-block-start: 3rem;
}

.description {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 80px;
  top: 20px;
  background-color: #5e5c5d;
  inline-size: 400px;
  padding: 48px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 4px 8px rgba(0, 0, 0, 0.2),
    0px 8px 16px rgba(0, 0, 0, 0.2), 0px 16px 32px rgba(0, 0, 0, 0.2);
}

.bgImage {
  width: 930px;
  height: 650px;
  background-image: url(/src/assets/Imagenes/banner2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.description button {
  margin-block-start: 2rem;
}

/* Responsive */

@media (max-width: 950px) {
  .bgImage {
    inline-size: 100%;
  }
  .description {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 30px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .description {
    inline-size: 90%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }
}

@media (max-width: 400px) {
  .bgImage {
    width: 20%;
  }
  .description {
    inline-size: 90%;
    block-size: 95%;
  }
}
