.contact {
  margin-block-end: 3.3rem;
}

.banner {
  display: flex;
  height: 350px;
  flex-direction: column;
  align-items: center;
  margin-block-end: 5rem;
  background-image: url(/src/assets/Imagenes/bannerContact.jpg);
  box-shadow: inset 0 0 0 1000px rgba(129, 79, 152, 0.6);
  background-position: center;
  background-size: cover;
  color: white;
  padding-block: 2.5rem;
}

.banner h2 {
  font-family: "Parisienne", sans-serif;
}

.infoDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

.map {
  margin-block-end: 6rem;
}

.infoDiv h2 {
  margin-block-end: 2rem;
}

.infoText {
  line-height: 24px;
  width: 40%;
}

.infoIcons {
  margin-block-start: 2.5rem;
}

.infoIcons button {
  margin-block-start: 1rem;
}
