.servicesContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-block-start: 1.5rem;
}
.title {
  max-width: 450px;
  text-align: center;
}
.ourServices {
  margin-block: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.servicesContainer h1,
h2,
h3,
h4 {
  color: black;
}

/* In specific service component */

.specificService {
  margin-block-start: -3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.specificService p {
  max-width: 550px;
}

.servicesDesc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
