.card {
  width: 750px;
  background-color: #814f98;
  margin-block-start: 2.5rem;
  margin-block-end: 2.5rem;
  position: relative;
  padding: 1rem;
}

.mainInfo {
  padding-inline-start: 1rem;
  text-align: start;
}

.costs {
  padding-inline: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block-start: 2.5rem;
}
