.card {
  width: 750px;
  background-image: url("/src/assets/Imagenes/IMG-20230627-WA0032.jpg");
  box-shadow: inset 0 0 0 1000px rgba(129, 79, 152, 0.6);
  margin-block-start: 2.5rem;
  margin-block-end: 2.5rem;
  position: relative;
  padding: 1rem;
  color: #f6f6f6;
}

.card h2 {
  color: #f6f6f6;
}

.card h3 {
  color: #f6f6f6;
}

.mainInfo {
  color: #f6f6f6;
  padding-inline-start: 1rem;
  text-align: start;
}

.costs {
  padding-inline: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block-start: 2.5rem;
  color: #f6f6f6;
}

@media (max-width: 950px) {
  .card {
    inline-size: 600px;
  }
}

@media (max-width: 620px) {
  .card {
    inline-size: 450px;
  }
}

@media (max-width: 506px) {
  .card {
    inline-size: 320px;
  }
}
