.card {
  height: 291px;
  width: 250px;
  position: relative;
  margin-block-end: 10rem;
  background-size: cover;
}

.card h5 {
  color: black;
  font-family: "Parisienne", cursive;
  font-size: 20px;
}
.card p {
  text-align: center;
}
.descCard {
  background-color: #e3b7d6;
  height: 150px;
  width: 190px;
  position: absolute;
  bottom: -70px;
  right: 30px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 950px) {
  .card {
    margin-block-end: 1rem;
  }
  .descCard {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 70px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .descCard {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }
}
