button {
  cursor: pointer;
  border-radius: 7px;
}

button:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.bannerBtn {
  border: none;
  background-color: #814f98;
  color: white;
  width: 130px;
  padding: 1rem;
}

.bannerBtn a {
  color: white;
}

.cardButton {
  width: 110px;
  background-color: #8fadaa;
  color: #000;
  border: none;
  border-radius: 5px;
  padding-block: 3px;
}

.giftButton {
  padding: 1rem;
  border: 0;
  background-color: #d9d9d9;
  border-radius: 5px;
}

.serviceCard {
  width: 150px;
  background-color: #8fadaa;
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 1rem;
}

.priceButton {
  padding: 1rem;
  width: 210px;
  background-color: #e3b7d6;
  border: none;
}
